

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container, body > .container-fluid {
    padding: 80px 15px 0;
    min-width: 300px;
}

.footer > .container, body > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.card-hgn {
    margin-bottom: 30px;
    min-width: 280px;
}

.site_presentation {
    word-break: break-all;
}

.review_title {
    word-break: break-all;
}

.break_word {
    word-break: break-all;
}

.review_point {
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

@media (min-width: 500px) {
    .review_point {
        font-size: 2.5rem !important;
    }
}


.review_point_outline {
    padding: 5px;
    max-width: 100px;
    border: 1px solid #00aced;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_icon {
    font-size: 30px;
}

.no_image_text_outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_image_text_inner {
    width: 100%;
    height: 100%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: solid 1px #636b6f;
    min-height: 50px;
    max-height: 100px;
    padding: 15px;
    max-width: 100px;
}

a:link .no_image_text_inner,
a:visited .no_image_text_inner,
a:hover .no_image_text_inner,
a:active .no_image_text_inner {
    color: black;
    text-decoration: none !important;
}

@media (min-width: 320px) {
    .no_image_text_inner {
        font-size: 1rem !important;
    }
}

.block_link {
    display:block;
    width: 100%;
    height: 100%;
}

.sns_link_outline {
    padding: 5px 10px;
}

.sns_link {
    /*border: 2px solid black;*/
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
}

.sns_link:hover, .sns_link:active, .sns_link:focus {
    color: white;
}

.sns_link_twitter {
    background-color: #00aced;
}
.sns_link_facebook {
    background-color: #305097;
}
.sns_link_google {
    background-color: #db4a39;
}
.sns_link_instagram {
    background-color: #3f729b;
}
.sns_link_mixi {
    background-color: #d1ad59;
}
.sns_link_line {
    background-color: #00c300;
}
.sns_link_github {
    background-color: #4183c4;
}

.no_border td {
    border:none;
}

.community_topic_comment {
    word-break: break-all;
}

.package_image {
    min-width: 70px;
    max-width: 100%;
}

.package_select_item {
    width: 100px;
    margin-right: 5px;
    padding: 5px 3px;
}

.package_select_item input[type=radio] {
    display: none;
}

.package_select_item label {
    display: block;
    width: 100%;
    height: 100%;
}

.package_select_item.selected {
    border: solid 1px blue;
    border-radius: 5px;
    padding: 4px 3px;
}

.profile_text {
    overflow-y: scroll;
    max-height: 7.5rem;
}

.user_icon_img {
    max-width: 3rem;
    max-height: 3rem;
}
.user_icon_img_large {
    max-width: 5rem;
    max-height: 5rem;
}

.list_site_banner_outline {
    max-width: 468px;
    height: 60px;
    width: 100%;
    overflow:hidden;
}


.detail_site_banner_outline {
    max-width: 250px;
    height: 400px;
    width: 100%;
    overflow:hidden;
}