

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    /*line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
    font-size: 0.8rem;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container, body > .container-fluid {
    padding: 80px 15px 0;
    min-width: 300px;
}

.footer > .container, body > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.card-hgn {
    margin-bottom: 30px;
    min-width: 280px;
}

.site-presentation {
    word-break: break-all;
}

.review-title {
    word-break: break-all;
}

.break-word {
    word-break: break-all;
}

.review-point {
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

@media (min-width: 500px) {
    .review-point {
        font-size: 2.5rem !important;
    }
}

.review-point-outline {
    padding: 5px;
    max-width: 100px;
    border: 1px solid #00aced;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icn {
    font-size: 30px;
}

.no-image-text-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-image-text-inner {
    width: 100%;
    height: 100%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: solid 1px #636b6f;
    min-height: 50px;
    max-height: 100px;
    padding: 15px;
    max-width: 100px;
}

a:link .no-image-text-inner,
a:visited .no-image-text-inner,
a:hover .no-image-text-inner,
a:active .no-image-text-inner {
    color: black;
    text-decoration: none !important;
}

@media (min-width: 320px) {
    .no-image-text-inner {
        font-size: 1rem;
    }
}

.block-link {
    display:block;
    width: 100%;
    height: 100%;
}

.sns-link-outline {
    padding: 5px 10px;
}

.sns-link {
    /*border: 2px solid black;*/
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
}

.sns-link:hover, .sns-link:active, .sns-link:focus {
    color: white;
}

.sns-link-twitter {
    background-color: #00aced;
}
.sns-link-facebook {
    background-color: #305097;
}
.sns-link-google {
    background-color: #db4a39;
}
.sns-link-instagram {
    background-color: #3f729b;
}
.sns-link-mixi {
    background-color: #d1ad59;
}
.sns-link-line {
    background-color: #00c300;
}
.sns-link-github {
    background-color: #4183c4;
}

.color-twitter, .color-twitter:hover, .color-twitter:visited {
    color: #00aced;
}
.color-facebook, .color-facebook:hover, .color-facebook:visited {
    color: #305097;
}
.color-google, .color-google:hover, .color-google:visited {
    color: #db4a39;
}
.color-instagram, .color-instagram:hover, .color-instagram:visited {
    color: #3f729b;
}
.color-mixi, .color-mixi:hover, .color-mixi:visited {
    color: #d1ad59;
}
.color-line, .color-line:hover, .color-line:visited {
    color: #00c300;
}
.color-github, .color-github:hover, .color-github:visited {
    color: #24292e;
}

.no-border td, .no-border li {
    border:none;
}

.package-image {
    min-width: 70px;
    max-width: 100%;
}

.package-select-item {
    width: 100px;
    margin-right: 5px;
    padding: 5px 3px;
}

.package-select-item input[type=radio] {
    display: none;
}

.package-select-item label {
    display: block;
    width: 100%;
    height: 100%;
}

.package-select-item.selected {
    border: solid 1px blue;
    border-radius: 5px;
    padding: 4px 3px;
}

.profile-text {
    margin-top: 1rem;
    overflow-y: scroll;
    max-height: 7.5rem;
}

.user-icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
}

.user-icon-default {
    font-size: 1rem;
    text-decoration: none;
}

.user-icon-large {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
}

.no-banner-site-name {
    margin: 5px 0;
    display: inline-block;
    font-size: 1.2rem;
}
.no-banner-site-name a {
    padding: 3px;
}

.list-site-banner-outline {
    max-width: 468px;
    max-height: 60px;
    width: 100%;
    min-height: 40px;
    overflow:hidden;
}

.package-title {
    font-size: 1.2rem;
}

.site-badge-item {
    font-size: 0.5rem;
    border: solid 1px #00c300;
}

.list-site-banner-outline img {
    max-width: 100%;
}

.detail-site-banner-outline {

}

.detail-site-banner-outline img {
    max-width: 100%;
}

.table-clickable-row tr:hover {
    cursor: pointer;
}

.breadcrumb-footer {
    padding: unset;
    margin: unset;
    background-color: transparent;
}

.pagination {
    margin: 1rem 0;
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.1rem;
}

.btn-area {
    margin: 1rem 0;
}

#global_back_link {
    padding-top: 2px;
    width: 30px;
    height: 100%;
}

#global_back_link a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #777;
}

#global_back_link a:hover {
    color: black;
}

.card-soft {
    width: 120px;
}

ul.horizontal li{
    display: inline-block;
}

button.btn:hover {
    cursor: pointer;
}

.site-info > span {
    margin-right: 10px;
    font-size: 0.75rem;
}

.top-login {
    text-decoration: none;
    font-size: 1.5rem;
}

.top-login a:hover {
    text-decoration: none;;
}

.favorite-icon, .favorite-icon:hover, .favorite-icon:link, .favorite-icon:visited {
    color: gold;
}

.site-side-menu {
    min-width: 200px;
    margin-right:10px;
}

.package-list {
    display: flex;
    flex-wrap: wrap;
}

.site-badge span {
    margin-right: 10px;
}

.site-badge span:last-child {
    margin-right: 0px;
}

.package-card {
    min-height: 60px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    flex-basis: 200px;
    display: flex;
    align-items: stretch;
    justify-content: left;
    margin-bottom: 10px;
}

.package-card-big {
    margin: 10px;
    padding-top: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    flex-basis: 200px;
    display: flex;
    align-items: stretch;
    justify-content: left;
}

.package-card-big.card {
    border: none;
}

.package-card-image {
    width: 60px;
    font-size: 2rem;
    color: black;
    display: table-cell;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.package-card-image img {
    max-width: 50px;
    max-height: 50px;
}

.package-card-name {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
}

.one-content {
    margin-top: 50px;
}

.one-content-first {
    margin-top: 20px;
}

.table-no-border th,
.table-no-border td {
    border:none !important;
}

.site-selected-game {
    margin: 5px;
    padding: 4px;
    font-size: 0.8rem;
}

.form-group {
    margin-bottom: 2rem;
}

#game_tab {
    margin-bottom: 10px;
}
#game_tab a {
    margin-bottom: 10px;
    margin-right: 3px;
}

html.is-fixed,
html.is-fixed body {
    height: 100%;
    overflow: hidden;
}

.user-name-big {
    font-size: 1.2rem;
}

.mutual-follow-icon {
    font-size: 0.8rem;
}

.package-info {
    font-size: 0.8rem;
}

.handle-game-select-area {
    margin-top: 10px;
}

.modal {
    -webkit-overflow-scrolling: touch;
}

.hide-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.handle_soft_tab .btn, .force-break {
    word-break: break-all;
    white-space: normal;
}

.handle_soft_check_btn:focus,
.handle_soft_check_btn:active:focus,
.handle_soft_check_btn:hover {
    background-color: transparent;
    color: #17a2b8;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .package-card {
    }
}

@media (min-width: 992px) {
}


