@charset "UTF-8";

code {
    font-size: 80%;
}

.site-presentation {
    word-break: break-all;
}

.review-title {
    word-break: break-all;
}

.break-word {
    word-break: break-all;
}

.review-game-title {
    font-size: 1.2rem;
}

.card-title-sub {
    margin-left: 10px;
    font-size: 0.8rem;
    color: lightgray;
}

.review-point {
    font-size: 2.2rem;
    display: inline-block;
    margin: 0 !important;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 5px;
}

.review-point-list {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
    min-width: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.review-point-mother {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.9rem;
    padding: 5px;
    line-height: 0.9rem;
}

.review-tag {
    border-radius: 20px;
    padding: 8px 13px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 500px) {
    .review-point {
    }
}

.review-point-table {
    margin-left: 10px;
}


.review-point-table tr {
    border-bottom: solid 1px grey;
}

.review-point-table th {
    font-size: 0.85rem;
}

.review-point-table td {
    padding-left: 10px;
}



.review-point-outline {
    padding: 5px;
    max-width: 100px;
    border: 1px solid #00aced;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icn {
    font-size: 30px;
}

.no-image-text-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-image-text-inner {
    width: 100%;
    height: 100%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: solid 1px #636b6f;
    min-height: 50px;
    max-height: 100px;
    padding: 15px;
    max-width: 100px;
}

a:link .no-image-text-inner,
a:visited .no-image-text-inner,
a:hover .no-image-text-inner,
a:active .no-image-text-inner {
    color: black;
    text-decoration: none !important;
}

@media (min-width: 320px) {
    .no-image-text-inner {
        font-size: 1rem;
    }
}

.block-link {
    display:block;
    width: 100%;
    height: 100%;
}

.sns-link-outline {
    padding: 5px 10px;
}

.sns-link {
    /*border: 2px solid black;*/
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
}

.sns-link:hover, .sns-link:active, .sns-link:focus {
    color: white;
}

.sns-link-twitter {
    background-color: #00aced;
}
.sns-link-facebook {
    background-color: #305097;
}
.sns-link-google {
    background-color: #db4a39;
}
.sns-link-instagram {
    background-color: #3f729b;
}
.sns-link-mixi {
    background-color: #d1ad59;
}
.sns-link-line {
    background-color: #00c300;
}
.sns-link-github {
    background-color: #4183c4;
}

.color-mail, .color-mail:hover, .color-mail:visited {
    color: honeydew;
}

.color-twitter, .color-twitter:hover, .color-twitter:visited {
    color: #00aced;
}
.color-facebook, .color-facebook:hover, .color-facebook:visited {
    color: #305097;
}
.color-google, .color-google:hover, .color-google:visited {
    color: #db4a39;
}
.color-instagram, .color-instagram:hover, .color-instagram:visited {
    color: #3f729b;
}
.color-mixi, .color-mixi:hover, .color-mixi:visited {
    color: #d1ad59;
}
.color-line, .color-line:hover, .color-line:visited {
    color: #00c300;
}
.color-github, .color-github:hover, .color-github:visited {
    color: whitesmoke;
}

.no-border td, .no-border li {
    border:none;
}

.package-image {
    max-width: 100%;
}

.package-select-item {
    width: 100px;
    margin-right: 5px;
    padding: 5px 3px;
}

.package-select-item input[type=radio] {
    display: none;
}

.package-select-item label {
    display: block;
    width: 100%;
    height: 100%;
}

.package-select-item.selected {
    border: solid 1px blue;
    border-radius: 5px;
    padding: 4px 3px;
}

.profile-text {
    margin-top: 1rem;
    overflow-y: scroll;
    max-height: 7.5rem;
}

.user-icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;

}

.user-icon-default {
    padding: 2px 0;
    text-decoration: none;
}

.user-icon-large {
    width: 3rem;
    height: 3rem;
}

.no-banner-site-name {
    margin: 5px 0;
    display: inline-block;
    font-size: 1.2rem;
}
.no-banner-site-name a {
    padding: 3px;
}

.list-site-banner-outline {
    max-width: 468px;
    max-height: 60px;
    width: 100%;
    min-height: 40px;
    overflow:hidden;
}

.package-title {
    font-size: 1.2rem;
}

.site-badge-item {
    font-size: 0.5rem;
    border: solid 1px #00c300;
}

.list-site-banner-outline img {
    max-width: 100%;
}

.detail-site-banner-outline {

}

.detail-site-banner-outline img {
    max-width: 100%;
}

.table-clickable-row tr:hover {
    cursor: pointer;
}

.breadcrumb-footer {
    padding: unset;
    margin: unset;
    background-color: transparent;
}

.pagination {
    margin: 1rem 0;
}

.btn-area {
    margin: 1rem 0;
}

#global_back_link {
    width: 30px;
    height: 100%;
}

#global_back_link a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #777;
}

#global_back_link a:hover {
    color: black;
}

.card-soft {
    width: 120px;
}

ul.horizontal li{
    display: inline-block;
}

button.btn:hover {
    cursor: pointer;
}

.site-info > span {
    margin-right: 10px;
    font-size: 0.85rem;
}

.top-login {
    text-decoration: none;
    font-size: 1.5rem;
}

.top-login a:hover {
    text-decoration: none;;
}

.favorite-icon, .favorite-icon:hover, .favorite-icon:link, .favorite-icon:visited {
    color: gold;
}

.site-side-menu {
    min-width: 200px;
    margin-right:10px;
}

.package-list {
    display: flex;
    flex-wrap: wrap;
}

.site-badge span {
    margin-right: 10px;
}

.site-badge span:last-child {
    margin-right: 0px;
}

.package-card {
    min-height: 60px;
    display: flex;
    align-items: stretch;
    justify-content: left;
    margin-bottom: 10px;
}

.package-card-image {
    width: 60px;
    font-size: 2rem;
    color: white;
    display: table-cell;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.package-card-image img {
    max-width: 50px;
    max-height: 50px;
}

.package-card-name {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
}

.one-content {
    margin-top: 50px;
}

.one-content-first {
    margin-top: 20px;
}

.table-no-border th,
.table-no-border td {
    border:none !important;
}

.site-selected-game {
    margin: 5px;
    padding: 4px;
    font-size: 0.8rem;
}

.form-group {
    margin-bottom: 2rem;
}

#game_tab {
    margin-bottom: 10px;
}
#game_tab a {
    margin-bottom: 10px;
    margin-right: 3px;
}

html.is-fixed,
html.is-fixed body {
    height: 100%;
    overflow: hidden;
}

.user-name-big {
    font-size: 1.2rem;
}

.mutual-follow-icon {
    font-size: 0.8rem;
}

.package-info {
    font-size: 0.9rem;
}

.package-info-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.handle-game-select-area {
    margin-top: 10px;
}

.modal {
    -webkit-overflow-scrolling: touch;
}

.hide-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.handle_soft_tab .btn, .force-break {
    word-break: break-all;
    white-space: normal;
}

.handle_soft_check_btn:focus,
.handle_soft_check_btn:active:focus,
.handle_soft_check_btn:hover {
    background-color: transparent;
    color: #17a2b8;
}

.hgn-check-btn .custom-control-indicator {
    left: 3px;
    top: 6px;
}


.soft-blockquote {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.package-image-small {
    text-align: center;
    width: 90px;
}

.package-image-small img {
    max-height: 80px;
}


.label-big-hgn {
    font-size: 1.5rem;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .package-card {
    }
}

@media (min-width: 992px) {
}



body {
    /* font-family: "Sawarabi Mincho", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif; */
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
}

.logo {
    padding-left: .5rem !important;
}

.card-body {
    padding: 1.5rem !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #868e96;
    content: ">" !important;
}

body, main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

.global-link {
    height: 100%;
    width: 40px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    font-size: 1.65rem;
    transition: opacity .1s;
}

.global-link a {
    width: 80%;
    height: 80%;
}

.cursor-pointer:hover {
    cursor: pointer;
}
button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

header.content__title {
    padding: 0 !important;
}

.content__title>h1 {
    line-height: 140%;
    font-size: 1.5rem;
}

.alert {
    padding: 12px 16px;
}

.alert-danger {
    background-color: rgba(250,100,120,.4);
    border-color: #dc3545;
}

.form-group {
    margin-bottom: 0;
}

.form-help {
    margin-bottom: 4rem;
}

.invalid-feedback {
    display: block;
    color: white;
}
button, input, optgroup, select, textarea {
    font-family : inherit !important;
    font-weight: 500 !important;
}

.custom-checkbox .custom-control-indicator:before {
    content: '\f26b';
    background-color: #fff;
    font-family: Material-Design-Iconic-Font;
    color: #131313;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: background-color .2s,opacity .2s;
    line-height: 1.2rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
}

.rounded-circle{
    border-radius:50% !important;
}

.rounded-0{
    border-radius:0 !important;
}

.big-package-card {
    max-height: initial !important;
}

@media (min-width: 576px) {
    .modal-up .modal-dialog, .modal-up:before {
        display: block;
        vertical-align: top;
    }

    .modal-up:before {
        display:none;
    }
}

.btn-group-toggle .btn:hover {
    cursor: pointer;
}

input[type=text], textarea {
    font-size: 16px !important;
}

.hgn-label {
    color: #AFF;
    margin-bottom: .5rem;
}

.site-normal {
    background-color: rgba(0,0,0,.2);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    padding: 1.8rem 1.5rem 1.15rem;
    margin-bottom: 30px;
}

.site-swipe {
    background-color: rgba(0,0,0,.2);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    padding: 1.8rem 1.5rem 1.15rem;
}

.alert-warning.alert-warning-hgn {
    color: white;
    background-color: rgba(255, 200, 50, 0.2);
    border: solid 1px yellow;
}
.alert-secondary.alert-secondary-hgn {
    color: white;
    background-color: rgba(50, 50, 50, 0.5);
    border: solid 1px lightgray;
}
.btn-outline-secondary:hover {
    color: #000;
}

.avatar-char, .card-link, .contacts__btn, .content__title:not(.content__title--alt)>h1, .fc th, .listview__header, .modal-footer>.btn-link, .price-table__action, .price-table__title, .q-a__stat>span>small, .view-more {
    text-transform: initial !important;
}




.hgn-check-btn {
    background-color: rgba(255, 255, 255, 0.05);
    color: grey;
}

.hgn-check-btn:hover, .hgn-check-btn.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}


.btn-favorite {
    background-color: rgba(255, 255, 255, 0.125);
    color: grey;
}
.btn-favorite:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: yellow;
}

.btn-favorite2 {
    background-color: rgba(255, 255, 255, 0.2);
    color: yellow;
}
.btn-favorite2:hover {
    background-color: rgba(255, 255, 255, 0.125);
    color: grey;
}

.btn-good {
    background-color: rgba(255, 255, 255, 0.125);
    color: grey;
}
.btn-good:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-good2 {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.btn-good2:hover {
    background-color: rgba(255, 255, 255, 0.125);
    color: grey;
}

.badge.and-more {
    background-color: rgba(255, 255, 255, 0.125);
    padding: 10px;
    margin-top: 3px;
}

.list-review-point {
    padding: 3px;
    margin-bottom: 3px;
    border-bottom: dotted 1px gray;
}

.shopping {
    padding: 5px;
}

.shopping-item {
    padding: 5px;
    background-color: rgba(200, 200, 255, 0.125);
    border-radius: 3px;
}

.package-image-review {
    text-align: center;
    width: 40px;
}

.package-image-review-list {
    text-align: center;
    width: 30px;
    max-height: 40px;
    display: inline-block;
}

.review-text {
    line-height: 200%;
}

.form-control, .form-control:disabled, .form-control:focus, .form-control[readonly] {
    background-color: rgba(255, 255, 255, 0.1);
}

.one-line {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ticker-container {
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
}

.ticker {
    padding: 0 0 0 0;
    background-color: rgba(0,0,0,.2);
    overflow: hidden;
    height: 40px;
    width: 100%;
}

.ticker-title {
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    color: #FFF;
    display: inline-block;
}

.ticker-title-inline {
    display: inline-block;
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    color: #FFF;
    white-space: nowrap;
}

.ticker ul {
    padding: 0;
    margin: 0;
    position: relative;
}
.ticker ul li {
    list-style: none;
    padding-left: 10px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translate3d(0,0,0);
}


/* 拝借元: https://jsdo.it/blogparts/KVNL */
.tag {
    position: relative;
    display: inline-block;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0 0.2em;
    border-radius: 1.2em 0 0 1.2em;
    border-width: 0.2em 0.3em 0.2em 1.6em;
    border-style: solid;
    border-color: gray;
    background-color: white;
}
.tag::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -1.1em;
    top: 0.4em;
    background: white;
    border-radius: 100%;
    width: 0.6em;
    height: 0.6em;
}

.tag.simple {
    position: relative;
    display: inline-block;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0.2em 0.5em 0.2em 1.8em;
    border-radius: 1.2em 0 0 1.2em;
    border-width: 0;
    border-style: solid;
    border-color: white;
    background-color: gray;
    color: white;
}
.tag.simple::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0.6em;
    top: 0.6em;
    background: white;
    border-radius: 100%;
    width: 0.6em;
    height: 0.6em;
}
.tag.simple::after {
    content: none;
}
