

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container, body > .container-fluid {
    padding: 80px 15px 0;
}

.footer > .container, body > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.card-hgn {
    margin-bottom: 30px;
}

.site_presentation {
    word-wrap: break-word;
}

.review_title {
    word-wrap: break-word;
}

.review_point {
    font-size: 200%;
}