@charset "UTF-8";

html, body {
    height: 100%;
}

body {
    background-color: #0A101E;
    position: absolute;
}

body, .tooltip, .swal2-modal, button, input, select, textarea {
    color: white;
    font-size: 0.9rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
}

a {
    color:#a4d0ff;
    transition: all 300ms 0s ease;
}

a:hover {
    color:white;
    text-decoration:none;
}


#network-area {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: relative;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
}

#network-area.mainMode {
    pointer-events: none;
}


main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    transition: opacity 0.5s linear;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding-bottom: 100px;
}

main.closed {
    opacity: 0;
    z-index: -100;
    height: 50vh;
}

#network-background {
    position: relative;
    left: 0;
    top: 0;
    z-index: -100;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(#0A103E, #0A101E, #0A101E);
}

#network-background-canvas, #network-image-canvas {
    position: absolute;
}



#network-items {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 1000px;
}


#network-items.closed {
    z-index: -1;
}

.network-item {
    position: absolute;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
    background-color: black;
    border: solid 2px white;
    z-index: 10;
    visibility: hidden;
}

.network-item.active {
    visibility: visible !important;
}

.network-item.appear {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-name: appearAnimation;
}

@keyframes appearAnimation {
    from {
        background-color: white;
        transform: scale(0, 0);
    }

    to {
        background-color: black;
        transform: scale(1, 1);
    }
}

.network-item.disappear {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: disappearAnimation;
}

@keyframes disappearAnimation {
     from {
         transform: scale(1, 1);
     }

     to {
         background-color: white;
         transform: scale(0, 0);
     }
}

.network-item.closed {
    transform: scale(0, 0);
    background-color: white;
}


.network-item.openMain {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-name: openMainAnimation;
}

@keyframes openMainAnimation {
    from {

    }

    to {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.network-item.closeMain {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-name: closeMainAnimation;
}

@keyframes closeMainAnimation {
    from {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





h1 {
    font-size: 1.2rem;
    padding: 10px 0;
}

footer {
    margin-top: auto;
}

.network-layout-link {
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}


/* bootstrap打消し */
.list-group-item {
    background-color: unset;
}


#content-loading {
    pointer-events: none;
    margin-top: 200px;
}

#content-area.hide {
    display: none;
}

#content {
    margin-top: 30px;
    margin-bottom: 30px;
}

#content-footer {

}
