
// Fonts
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Serif+JP:wght@300&display=swap');

// Variables
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Serif JP', serif;
  color: white;
  overflow: hidden;
}

body {
  background-color:black;
  color: rgba(255, 255, 255, 0.7);
  // min-height: calc(100% + 30px);
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,.hgn-sub-network-title {
  font-family: 'New Tegomin', serif;
  white-space: nowrap;
}

footer {
  height: 100px;
}

.cntr{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  //-webkit-overflow-scrolling: touch;
}

.node-ball-cntr {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  overflow: visible;
  margin-bottom: 0.15rem;
}

.node-ball {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  //background: radial-gradient(rgb(0,200,0), rgba(0,200,0, 0.7), rgba(0,200,0, 0.1));

  background-color: #00CC00;
  box-shadow:     0 0 10px 5px #00CC00;
}

main {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  background-image: url("http://localhost/back4.jpg");
  background-position: 30px 40px;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#contents {
}

#back {
  position: relative;
  left: 6px;
  top: -5px;
  margin-bottom: 20px;

  .back-line-cntr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .back-line {
    display: inline-block;
    width: 1px;
    height: 60px;
    position: relative;
    left: 6px;
    top: 14px;
    background-color: #00CC00;
  }

  .node-ball-cntr {
    @extend .node-ball-cntr;
    margin-top: 0;
  }
}

.main-title {
  .node {
    position: relative;
    width: 28px;
  }

  h1 {
    margin-bottom: 15px;
  }

  .node-ball {
    @extend .node-ball;

    width: 14px;
    height: 14px;
    margin-top: 13px;
  }

  .title-line-cntr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .title-line {
    display: inline-block;
    width: 2px;
    height: 50%;
    //mix-blend-mode: color-burn;
    position: relative;
    left: 12px;
    top: 50%;
    //background-color: #00FF00;
    filter: blur(2px);
    overflow: visible;

    background-color: #00FF00;
    box-shadow:     0 0 10px 3px #00FF00;
  }

  .sub-menu {

  }
}

.sub-network {
  position: relative;

  .line-cntr {
    width: 50px;
    position: relative;
  }

  .line-vertical {
    width: 14px;
    height:100%;
    border-right: solid 2px #00FF00;
    filter: blur(2px);
  }

  .line-horizontal {
    filter: blur(2px);
    position: absolute;
    left: 12px;
    top:0;
    width: 100%;
    height: 37px;
    border-bottom: solid 2px #00FF00;
  }

  .text {
    max-width: 400px;

  }
}

.sub-network:last-child {
  .line-vertical {
    height: 37px;
  }
}


.hgn-sub-network-title {
  border: solid 3px #00c300;
  border-radius: 8px;
  padding: 3px 5px 8px 5px;
  font-size: 1.5rem;
  box-shadow: 0 0 15px rgb(0,200,0);
}

.hgn-sub-network-title:hover {
  border: solid 3px #00FF00;
  box-shadow: 0 0 15px rgb(0,250,0);
  transform: scale(1.3);
}





#network-canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  //border: dotted 1px #00c300;
  z-index: -9998;
}

#network-background-canvas {
  position: fixed;
  left: 0;
  top: -200px;
  pointer-events: none;
  z-index: -9999;
}

footer {
  padding-top: 100px;
  height: 200px;
}