/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/img/user_icon/*
/public/img/site_banner/*.jpg
/public/img/site_banner/*.png
/public/img/site_banner/*.jpeg
/public/img/site_banner/*.gif
/public/img/site_banner/*.svg